# Node / Angular
node_modules/
dist/
.angular/
.cache/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment
.env

# IDEs
.vscode/

# OS
.DS_Store
Thumbs.db

# Java / Spring
target/
*.log
*.class

# Build artifacts
*.jar
*.war

# Docker
docker-compose.override.yml