<p-card header="Nova transação PIX">
  <div class="grid">
    <div class="col-12 md:col-3">
      <p-select
        [options]="usuarios"
        *ngIf="usuarios?.length"
        [(ngModel)]="usuario"
        placeholder="Usuário"
        optionLabel="nome"
        class="w-full"
      />
    </div>

    <div class="col-12 md:col-4">
      <input
        pInputText
        type="text"
        [(ngModel)]="chavePixDestino"
        placeholder="Chave PIX destino"
        class="w-full"
      />
    </div>

    <div class="col-12 md:col-2">
      <input
        pInputText
        type="number"
        [(ngModel)]="valor"
        placeholder="Valor"
        class="w-full"
      />
    </div>

    <div class="col-12 md:col-3">
      <input
        pInputText
        type="text"
        [(ngModel)]="descricao"
        placeholder="Descrição"
        class="w-full"
      />
    </div>
  </div>

  <div class="mt-3">
    <button
      pButton
      type="button"
      label="Enviar transação"
      (click)="enviar()"
    ></button>
  </div>

  <div class="mt-4" *ngIf="resposta">
    <h4>Transação criada</h4>
    <pre>{{ resposta | json }}</pre>
  </div>
</p-card>